nav .brand-logo{
  @include desktop{
    padding-left: 20px;
  }

  @include large-screen{
    padding-left: 20px;
  }

  img {
    max-width: 30%;
    margin-top: 5px;
  }

  strong {
    vertical-align: top;
    font-size: 28px;
  }
}