nav .brand-logo{
  @include desktop{
    padding-left: 20px;
  }

  @include large-screen{
    padding-left: 20px;
  }

  @include xx-large-screen{
    padding-left: 20px;
  }

  img {
    max-width: 45px;
    margin-top: 5px;

    @include tablet{
      max-width: 55px;
    }

    @include desktop{
      max-width: 55px;
    }

    @include large-screen{
      max-width: 55px;
    }

    @include xx-large-screen{
      max-width: 55px;
    }
  }

  strong {
    vertical-align: top;
    font-size: 28px;
  }
}