@mixin transicion( $params... ){
  transition: $params;
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
}

@mixin transform( $scale, $origin...){
  transform:scale($scale);
  -webkit-transform:scale($scale);
  transform-origin:$origin;
  -webkit-transform-origin:$origin;
}