.parallax-container{
  height: 700px;

  @include phone{
    height: 650px;
  }

  &__logo{

    color: $white;

    strong {
      font-weight: $roboto-strong;
    }

    svg {

      display: block;
      margin: 60px auto 0;
      max-width: 300px;

      @include phone{
        max-width: 200px;
      }
    }

    h1{
      @include phone{
        font-size: 45px;
      }
    }
  }

  &__text{
    color: $white;

    h3 {
      @include phone{
        font-size: 30px;
      }
    }
  }

}