.parallax-container{
  height: 700px;

  @include phone{
    height: 650px;
  }

  &__logo{

    color: $white;

    strong {
      font-weight: $roboto-strong;
    }

    svg {
      display: block;
      margin: 60px auto 0;
      max-width: 300px;

      @include phone{
        max-width: 200px;
      }
    }


    .name {
      margin-bottom: 0;
      @include phone{
        font-size: $font-phone-h1;
      }
    }
    .sub_name {
      margin-top: -3px;
      font-size: $font-size-sub_name;
      letter-spacing: $space-letter-sub_name;
      text-indent: $text-indent-sub_name;

      @include tablet{
        letter-spacing: $space-letter-sub_name-tablet;
      }

      @include phone{
        letter-spacing: $space-letter-sub_name-phone;
        text-indent: $text-indent-sub_name-phone;
      }
    }
  }

  &__text{
    color: $white;

    .lema {
      font-size: $font-size-lema;
      @include phone{
        font-size: $font-size-lema-phone;
      }
    }
  }

}