/*
  Colors
*/
$white: #FFF;
$black: #000;
$white-darken: darken($white,20%);
$black-lighten: lighten($black,50%);
$grey : $black-lighten;

$primary-color: #1b75b5;
$secondary-color: $white;
$success-color: #12BF70;
$error-color: #FF5618;

/*
  Inputs
*/
$input-border-color: $white-darken;

/*
  Fonts
*/
$font-size-desc: 17px;
$font-size-desc-phone: 14px;
$font-size-desc-tablet: 15px;

$font-size-sub_name: 15px;
$space-letter-sub_name: 12px;
$space-letter-sub_name-tablet: 11px;
$space-letter-sub_name-phone: 7px;
$text-indent-sub_name: 12px;
$text-indent-sub_name-phone: 7px;
$font-size-lema:28px;
$font-size-lema-phone:22px;

$font-phone-h1:45px;
$font-phone-h2:40px;
$font-phone-h3:30px;

$roboto-thin:200;
$roboto-light:300;
$roboto-normal:400;
$roboto-bold:500;
$roboto-strong:600;

/*
  Side Navigation
*/
$sidenav-font-color: $white;
$sidenav-bg-color: $primary-color;