@import "base/base";
@import "components/mixins";
@import "components/footer";
@import "components/seccion";
@import "components/parallax";
@import "components/header";
@import "components/form";
@import "components/modals";
@import "components/activity";


.koochapps_logo{
  display: block;
  margin: 15px auto 0 auto;

  @include tablet{
    width: 40%;
  }

  @include phone{
    width: 50%;
  }

  @include desktop{
    width: 30%;
  }

  @include large-screen{
    width: 23%;
  }

  @include xx-large-screen{
    width: 20%;
  }
}

.g-recaptcha{
  margin-left: 3rem;
}

#image_back{
  width: 100%;
}